# Copyright 2026 Bohdan Shtepan.
# Licensed under the MIT License.

name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: go
          token: ${{ secrets.RELEASE_PLEASE_ACTION_TOKEN }}
